.basic-container {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    align-self: center;
    justify-self: center;
}

form input, button {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    justify-content: center;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    cursor: no-drop;
}

.lessons-table {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #aaaaaa;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #f4f4f4;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #c1c1c1;
}