:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  justify-content: center;
  justify-self: center;
  color: rgba(0, 0, 0, 0.87);
  background-color: wheat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 400;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #0056b3;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  justify-self: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}